<button class="btn btn-block btn-warning m-1" (click)="open(content)">
    <fa-icon [icon]="faLock"></fa-icon>
    Skift Kodeord
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Skift Adgangskode:</h4>
        <button role="button" class="close" (click)="modal.dismiss()">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        
        <label for="newpassword">Ny Adgangskode:</label>
        <div class="input-group mb-3">
            <input [type]="showPassword ? 'text' : 'password'" name="newpassword" id="newpassword" class="form-control" placeholder="Indtast ny adgangskode">
            <div class="input-group-append">
                <span class="input-group-text" (click)="showPassword = !showPassword">
                    <fa-icon [icon]="showPassword ? faLockOpen : faLock"></fa-icon>
                    <span class="mx-1">Vis</span>
                </span>
            </div>
        </div>

        <button class="btn btn-success btn-block">Ændr Adgangskode Nu!</button>
    </div>
</ng-template>