<button class="btn-primary btn mx-1" (click)="open(content)">
  <fa-icon [icon]="faEye"></fa-icon>
  Åben
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View AOBE</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" [value]="aobe.name" readonly id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="ipaddress">IP-Adresse</label>
      <input type="text" class="form-control" id="ipaddress" name="ipaddress" [value]="aobe.IPAddress" readonly>
    </div>
    <div class="form-group">
      <label for="status">Lokation</label>
      <input class="form-control" type="text" name="location" id="location" [value]="aobe.location.areaName" readonly>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Go back click')">
      <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
      Gå tilbage
    </button>
  </div>
</ng-template>